a{
  text-decoration: none;
}
.nig{
  margin-left:150px ;
}
p {
  color:black
}
img{
height: 300px;
width: 300x;
}
body{
  background-color: gray;
}
h1{
  background-color: whitesmoke;
}
p{
  background-color: whitesmoke;
}
